body {
  font-family: "Merriweather", serif;
  margin: 20px;
  background-color: lightgray;
}

h1 {
  color: #fff;
  font-size: 2em;
  background-color: darkblue;
  padding: 10px;
}

#cssTable {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

#cssTable th,
#cssTable td {
  border-bottom: 1px solid gray;
  padding: 14px 16px;
}

#cssTable th {
  background-color: darkblue;

  color: white;
}

#cssTable tr:nth-child(even) {
  background-color: darkgrey;
}

#cssTable tr:hover {
  background-color: cornflowerblue;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #cssTable {
    font-size: 12px;
  }

  #cssTable th,
  #cssTable td {
    padding: 8px 10px;
  }

  h1 {
    font-size: 1em;
  }
}
